.App {
  display: flex;
   flex-direction: column;
   height: 100vh; /* Faz o App ocupar a altura total da janela */
   overflow: hidden; /* Evita rolagens indesejadas dentro do App */

  align-items: top; /* Centraliza horizontalmente */
  justify-content: top; /* Centraliza verticalmente */
  min-height: 100vh; /* Faz com que o aplicativo ocupe no mínimo a altura total da tela */
  text-align: top; /* Garante que o texto também esteja centralizado */
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.App-header label {
  font-size: calc(1.5rem + 1vw); /* Combina uma medida fixa com uma medida relativa à largura da tela */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: "#282c34";
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

 
@font-face {
  font-family: 'Redware';
  src: url('/public/fonts/NeulisAlt-Black.otf') format('opentype'); 
}
  
@font-face {
  font-family: 'SFPro';
  src: url('/public/fonts/SF-Pro-Text-Black.otf') format('opentype'); 
} 

@font-face {
  font-family: 'SFPmd';
  src: url('/public/fonts/SF-Pro-Display-Medium.otf') format('opentype'); 
} 

@font-face {
  font-family: 'SfDisplayRegular';
  src: url('/public/fonts/SF-Pro-Display-Regular.otf') format('opentype'); 
} 
  
@font-face {
  font-family: 'SFPrg';
  src: url('/public/fonts/SF-Pro-Rounded-Regular.otf') format('opentype'); 
}  